# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
data/*
!data/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Operating System files
.DS_Store
Thumbs.db

# Project specific
*.log
.vscode/
.idea/
